@using MedicalClinicSystem.EF.Models;
@model IEnumerable<patient>

@{
    ViewData["Title"] = "قائمة المرضى";
}


<div class="content-wrapper">



    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4">
            <span class="text-muted fw-light"> المرضى/</span>
        </h4>

        <div class="card">
            <form class="form-inline my-2 my-lg-0" action="PatientSearchByName" style="padding-right: 25px;">
                <input name="searchString" type="text" class="form-control" placeholder="البحث عن ملف معين" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>

            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                    <div class="table-responsive text-nowrap">
                        <table id="example" class="datatables-users table border-top ">

                            <thead>
                                <tr>
                                    <th>
                                        الرقم
                                    </th>
                                    <th>
                                        الاسم
                                    </th>
                                    <th>
                                        العمر
                                    </th>
                                    <th>
                                        رقم الهاتف
                                    </th>

                                    <th>اجراء</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3" style="color:red">
                                            لا يوجد نتائج
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td> @Html.DisplayFor(modelItem => item.Id)</td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Age)

                                            </td>

                                            <td> @Html.DisplayFor(modelItem => item.Phone)</td>

                                            <td style="">
                                                <div class="d-inline-block">
                                                    <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a class="dropdown-item" href="/home/viewPatientDetails/@item.Id">
                                                                <i class="bi bi-eye icon-padding icon-color"></i>
                                                                عرض
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger delete-record" href="/Home/PatientRepotAsPDF/@item.Id">
                                                                <i class="bi bi-eye icon-padding icon-color"></i>
                                                                تقرير
                                                            </a>
                                                        </li>

                                                    </ul>

                                                </div>


                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>





